.pages{
    min-height: 100vh;
}

@media (min-width: 1100px) {
    .pages{
        //overflow: hidden;
        background-position: center center;
        background: url("../images/bg.jpeg") no-repeat;
        background-size: cover;
        background-position-x:center;
    }
}

.center-content {
    height: 100%;
    width: 100%;
    //position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.login-bg{
    background: url("../images/login_bg.svg") no-repeat;
    background-position: center center;
    //background-size: cover;
    height:1000px;
}

.h100vh{
    height: 100vh;
}
